@font-face {
  font-family: 'Segoe-UI';
  src: url('../../assets/fonts/SegoeUI.woff2') format('woff2'),
      url('../../assets/fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-UI-Semibold';
  src: url('../../assets/fonts/SegoeUI-Semibold.woff2') format('woff2'),
      url('../../assets/fonts/SegoeUI-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-UI-Bold';
  src: url('../../assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
      url('../../assets/fonts/SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AdobeGothicStd';
  src: url('../../assets/fonts/AdobeGothicStd-Bold-Alphabetic.woff2') format('woff2'),
      url('../../assets/fonts/AdobeGothicStd-Bold-Alphabetic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

