//COLORS
$red:#FF0000;
$black:#000;
$white:#fff;

//FONTS
$mainLogoFont: 'AdobeGothicStd', sans-serif ;
$primaryFont: 'Segoe-UI' , sans-serif ;
$primaryFontSemibold: 'Segoe-UI-Semibold' , sans-serif ;
$primaryFontBold: 'Segoe-UI-Bold' , sans-serif ;

//BACKGROUND
$bgSide: #112E50;