@import "../../sass/base/fonts.scss";
@import "../../sass/helpers/variables.scss";

.survey-main{
    ul {
        margin-top: 15px;
        padding-left: 20px;

        li{
            list-style-type: none;
            font-family: $primaryFontSemibold;
            font-size: 22px;
        }

        input{
            width: 80px;
            border: 2px solid $black;
            background: repeating-linear-gradient(90deg, #ffffff -14px, #ffffff 35px, #000000 38px);
            letter-spacing: 1.7ch;
            padding-left: 13px;

            &:after{
                content: "";
                display: block;
                height: 2px;
                width: 50px;
                background: red;
            }
        }
    }

    .survey-item{
        h4{
            text-indent: -1.5em ;
            font-family: $primaryFontSemibold;
        }
    }
}