

.survey-content{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 250px);
    min-height: calc(100vh - 200px);
    margin-left: 250px;
    margin-top: 50px;
    padding: 30px 40px 30px 75px;
}

// .survey-main-container.common-top{

// }